.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon:first-child {
  position: relative;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row__icon .nav__notification {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: block;
  position: absolute;
  left: 50px;
  bottom: 70px;
}
